@page "/ChordLogic"
@using BlazorComponents.Pages
@inherits ChordLogicBase
<div class="col-12 row">
 
        </div>  
        <br />  
        <div>    
            <button type="button" class="btn btn-primary btn-lg" 
            @onclick="Test">Click here and compare your scale with the associated chords.</button>

            <br />
            <br />
            <b>@OutPutChordLogic</b>  
            
        </div> 

   
