@page "/Logic"
@using BlazorComponents.Pages
@inherits LogicBase
 <div> 
       <div>   
            <button type="button" class="btn btn-primary btn-lg" 
            @onclick="test">Select Notes</button>
            
        </div> 
          <br />
          <br />
        <div class="col-12 row"> 
            <br />
            <br />
            <b>@OutPutLogic</b>  
        </div>  
        <br />    
    </div>

        