@page "/NotesChords"
@using BlazorComponents.Pages
@inherits NotesChordsBase
<div class="col-12 row">
 
        </div>  
        <br />  
        <div>    
            <button type="button" class="btn btn-primary btn-lg" 
            @onclick="SortedScale">Click here and compare your scale with the associated chords.</button>
            <br />
            <i>The scale may be inverted and so the order of the chords,<br /> a change in the music!</i>
            <h3>@OutPutScale</h3>
            <br />
            <b>@OutPutMajorChords</b> 
            <br />
            <b>@OutPutminorChords</b>           
        </div> 
